<div id="presentation">
    <div class="left">

        <h1 class="facebook_logo">facebook</h1>
        <p>

            Avec Facebook, partagez et restez en <br/> contact avec votre entourage.


        </p>
       
    </div>
    <div class="right">
   <div>
    <input type="text" class="w100" placeholder="Adresse e-mail ou numéro de tél." aria-label="Username" aria-describedby="basic-addon1">
    <input type="text" class="w100" placeholder="Mot de passe" aria-label="Username" aria-describedby="basic-addon1">
    
  <a href="">
    <i class="fa fa-eye-slash" style="font-size: 1.3em;margin-top:20px;color: black;"></i>
  </a>

  <div class="connexion">
     <b>  Connexion  </b>
   </div>
   <div class="oublie">
       <a href="">   Mot de passe oublié ?</a> 
   </div>
   <div class="creer_compte"> 
    Créer un compte
   </div>
   

</div>

   
    </div>
</div>
