<p class="fright">
    <b>
       Créer une Page 
    </b>
   pour une célébrité, un groupe ou une entreprise.
  </p>
  
  
  <div id="ist-display" class="display-none"> 
   
  
  
    <div  id='inscription' >
  <div id="info_inscription"> 
    <div class="bk1">
        <div style="padding: 15px;">
          <h1>
            S’inscrire
          </h1>
         
          C’est rapide et facile.
        </div>
        <div style="font-size: 2em;" class="padding-15 cursor" onclick="action_btn(this)" title="none">
          X
        </div>
    </div>
    <div class="bk1" style="position:relative">
      <div class="padding-15">
            <input type="text" placeholder="Prenom">
      </div>
      <div class="padding-15">
        <input type="text" placeholder="Nom de famille">
      </div>
      <!-- 
        
        <div style="position: absolute; top: 10px;left:-300px"> 
        Quel est votre nom
      </div> 
    -->
    </div>
    <div class="bk2">
      <div  class="padding-15">
  <input type="text" placeholder="Numero de mobile ou e-mail" >
  <input type="text" placeholder="Nouveau mot de passe">
      </div>
   
    </div>
  <div class="padding-15">
  
  
  <label for="">Date de naissance</label>
  <br>
  <select name="pets" id="pet-select" class="select-padding">
      <option value=""> Jour </option>
      <option value=""></option>
      <option value=""></option>
      <option value=""></option>
      <option value=""></option>
      <option value=""></option>
      <option value=""></option>
  </select>
  <select name="pets" id="pet-select" class="select-padding">
    <option value=""> Mois </option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
  </select>
  <select name="pets" id="pet-select" class="select-padding">
    <option value="">Annee</option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
  </select>
   
  <br>
  <label for="">Date de naissance</label>
  <br>
  <select name="pets" id="pet-select" class="select-padding">
      <option value="">1</option>
      <option value=""></option>
      <option value=""></option>
      <option value=""></option>
      <option value=""></option>
      <option value=""></option>
      <option value=""></option>
  </select>
  <select name="pets" id="pet-select" class="select-padding">
    <option value="">Janvier</option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
  </select>
  <select name="pets" id="pet-select" class="select-padding">
    <option value="">2002</option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
  </select>
   
  </div>
  
  
  <p class="padding-15" style="font-size: 13px;">
    En cliquant sur S’inscrire, vous acceptez nos Conditions générales. Découvrez comment nous recueillons, utilisons et partageons vos
     données en lisant notre Politique d’utilisation des
      données et comment nous utilisons les cookies et autres technologies similaires en consultant notre Politique d’utilisation des cookies. Vous recevrez peut-être des notifiions par texto de notre part et vous pouvez à tout moment vous désabonner.
  </p>
  
  <div class="btn-ins">
    S'inscrire
  </div>
  
  <div style="margin-bottom:50px;"> 
   .
  </div>
  </div>
    </div>
  </div>